.FormItem {
  width: 200px;
  height: 40px;
  border-radius: 8px;
}

.FormInput {
  background: var(--color-secondary);
  padding: 4px 8px;
  font-size: 16px;
  
  &, &:active, &:focus, &:focus-visible {
    border: 1px solid var(--color-primary);
    outline: none;
  }
}

.FormLabel {
  background: var(--color-secondary);
  padding: 4px 8px;
  font-size: 16px;
  border: 1px dashed var(--color-primary);
  display: flex;
  align-items: center;
}