:root {
  --color-primary: #000;
  --color-secondary: #fff;
  
  --color-working-section-bg: #F6F6F6;
  --color-tools-section-bg: #EAE9E9;
  --color-app-buttons: #D4D7DD;
  --color-attention: #420000;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}