.ToolsBar {
  background: var(--color-tools-section-bg);
  height: 100%;
  display: flex;
  padding: 24px 8px 16px;
}

.ToolsSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--color-app-buttons);
  padding: 0 24px;
}

.ToolsSectionTitle {
  align-self: center;
}

.ToolsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.ToolsItem {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}